{% load static %}

<!-- FOOTER -->
<footer id="footer" class="footer bg-setup">
    <div class="overlay overlay-footer"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="footer-text">
                <!--I need to add logo here-->
                    <img
                        src="{% static 'images/logos/' %}"
                        alt="Smoothies blog logo image"/>
                    <p class="footer-text">
                        All smoothies lovers are welcome. Whether you’re new to smoothies
                        blog or have been around for a while, we’re so glad you’re here.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <h4>We are here to help!</h4>
                <p><i class="fas fa-phone"></i>+49 175 458 95</p>
                <p><i class="far fa-envelope"></i>info@smoothiesblog.com</p>
                <p><i class="fas fa-home"></i>NordStr. 15 64581 Germany</p>
            </div>
        </div>
        <hr />
        <div class="col-6 copyright">
            <h3>
                <i class="far fa-copyright"></i><span id="year"></span> Smoothies
                Blog. All rights reserved.
            </h3>
        </div>
        <div class="col-6 social-media">
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i></a>
        </div>
    </div>  
</footer>
<!-- END OF FOOTER -->
