{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join our Smoothies Blog. You can try our reciepes and challenge yourself 
                                      for better skin and health! Drop a 
                                      comment about it. Share your favorite cookbooks with other users">
    <meta name="keywords" content="smoothies, recipes, green smoothies, detox, healthy juices">
    <!-- TITLE -->
    <title>Smoothies Blog</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href=""> <!--I need to add favicon image here-->    

    <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-5.1.3-dist/css/bootstrap.min.css' %}">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- MY CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_css.css' %}">
<body>